@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --fontArcade:'Press Start 2P', cursive;
  --fontNormal:'Dancing Script', cursive;
  --lightBlue: rgb(0, 132, 255);
  --darkGray: #111720;
  --lightGray: #222831;
}

body {
  background-color: var(--darkGray);
  color: lightgray;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

header {
  font-family: var(--fontArcade);
  color: var(--lightBlue);
  background-color: var(--lightGray);
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#choice {
  font-size: 36px;
  margin-bottom: -4px;
}

#points-msg {
  font-size: 24px;
}

.scores {
    font-size: 28px;
}

.sign {
    font-size: 80px;
    margin-bottom: 10px;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.score-box {
      font-weight: bold;
      margin-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.btn {
  background-color: var(--lightGray);
  border: none;
  width: 170px;
  height: 150px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #393d42;
}

.footer {
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

a {
  color: lightgray;
  text-decoration: none;
  font-size: 21px;
}

a:hover {
  text-decoration: underline;
  color: #565b61;
}


/* #restartBtn {
  border: none;
  width: 110px;
  height: 40px;
  margin-left: 24px;
  margin-top: 22px;
  color: lightgray;
  background-color: var(--lightGray);
}

#restartBtn:hover {
  background-color: lightgray;
  color: var(--darkGray);
  margin: 24px;
  transition: ease-in .5s;
} */


.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--darkGray);
  text-align: center;
  font-size: 30px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  font-size: 40px;
  font-weight: bold;
}

.btn-restart {
  background-color: var(--lightGray);
  color: rgb(206, 202, 202);
  border-radius: 5px;
  width: 120px;
  height: 40px;
  border: none;
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.btn-restart:hover {
  background-color: rgb(128, 123, 123);
  color: var(--darkGray);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.overlay.active {
  display: block;
}






@media (max-width: 550px) {
    .title {
      font-size: 18px;
    }
  
    #choice {
      font-size: 26px;
    }
  
    .buttons {
      gap: 10px;
    }
  
    .btn {
      width: 100px;
      height: 100px;
    }
  
    .sign {
      font-size: 50px;
    }
  
    .modal {
      width: 95%;
    }
}